{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<h2>About Us </h2>
<p> So we're two brothers trying to set up this website to help people getting into electronics for audio stuff in general.</p>
<div class="w3-row-padding">
<div class="w3-half w3-container w3-margin-bottom">
<p> Hi, I'm Thomas! In theory, I'm an electrical engineer but... even after a master's degree, I feel like there's not much of an engineer in me. So I decided to make things myself in order to understand things better.</p>
<p> I'll try to keep things simple while going in depth into some circuits and their specs.
I'm quite new to making music so exploring modular synth is something I'm really into. Also trying to learn to play the ukulele because why not.</p>
<p> Thomas </p>
</div>
<div class="w3-half w3-container w3-margin-bottom">
<p> Hey, I'm Peanut Monkey! Here, I'm more of a musician: started playing guitar 6 years ago and never stopped! Later came the piano (around 4 years ago). I'm the one testing the audio side of things.
<p> Peanut Monkey </p>
</div>
</div>

{% endblock %}
